# Our First Class

In [7]:
print(123) #Integer

123

In [1]:
print('Hello Saad') #String

Hello Saad

In [2]:
print("Hello Saad") #String

Hello Saad

In [12]:
print(12.3) #Float

12.3

In [14]:
print(123, 'Hello', "False", 12.3)

123 Hello False 12.3

In [15]:
print(False) #Bool

False

In [20]:
print(123, 'Hello', "False", 12.3, sep = " IAmASeperator ")

123 IAmASeperator Hello IAmASeperator False IAmASeperator 12.3

In [3]:
print('Hello World', end= '\t') # \t = tab
print('Hello Python', end = '\t')
print('Hello Saad')

Hello World	Hello Python	Hello Saad

In [24]:
name = "asad"

In [25]:
id(name)

140274504492456

In [26]:
name = "Nasir"

In [27]:
id(name)

140274394736936

In [28]:
1234 = "ALi"

SyntaxError: can't assign to literal (<ipython-input-28-e7c031a58946>, line 1)

In [29]:
1name = 'Ali'

SyntaxError: invalid syntax (<ipython-input-29-e5896f37c537>, line 1)

In [30]:
na1me = 'Hussain'

In [31]:
$name = 'asad'

SyntaxError: invalid syntax (<ipython-input-31-f08e6ce87dc0>, line 1)

In [32]:
*name = 'asad'

SyntaxError: starred assignment target must be in a list or tuple (cell_name, line 4)

In [33]:
_name = 'asad'

In [34]:
_ = 'test'

In [35]:
-name = 'asad'

SyntaxError: can't assign to operator (<ipython-input-35-26a85bf200c8>, line 1)

In [36]:
if = 'asad'

SyntaxError: invalid syntax (<ipython-input-36-9e40de3fa1cb>, line 1)

In [37]:
na me = 'asad'

SyntaxError: invalid syntax (<ipython-input-37-61d1811c9aec>, line 1)

In [38]:
x = 1234

In [39]:
x + 2

1236

In [40]:
x

1234

In [41]:
x = x + 2

In [42]:
print(x)

1236

# Concatenation

In [43]:
x = 2
y = '2'
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
z = str(x) + y

In [45]:
print(z)

22

In [46]:
z = x + int(y)

In [50]:
print(z)
print(name)
z

4
Nasir

4

In [52]:
age = 23
name = 'shahzad'
print('My name is ' + name + ' and my age is ' + str(age))

My name is shahzad and my age is 23

In [55]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is ' + name + ' and my age is ' + str(age))

What is your age? 25
What is your name? Nasir
My name is Nasir and my age is 25

In [56]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is {} and my age is {}'.format(name, age)) # {}placeholder

What is your age? 26
What is your name? Nasir
My name is Nasir and my age is 26

In [58]:
age = input('What is your age? ')
name = input('What is your name? ')
print('My name is {0} and my age is {1}'.format(name, age))

What is your age? 26
What is your name? Ali
My name is Ali and my age is Ali

In [59]:
age = input('What is your age? ')
name = input('What is your name? ')
print(f'My name is {name} and my age is {age}')

What is your age? 23
What is your name? Shahzad
My name is Shahzad and my age is 23

# Math expressions: Familiar Operators

In [1]:
3+2

5

In [2]:
9*9

81

In [3]:
5-9

-4

In [4]:
8-6

2

In [5]:
16/4

4.0

In [6]:
20//5

4

In [7]:
2+4*5-4//9

22

# Math expressions: Unfamiliar Operators

In [8]:
4%1

0

In [9]:
x = 22
x = x+3
x

25

In [11]:
x = 87
y = 65
z = x-y
z

22

In [22]:
x = 20

In [23]:
x-=3

In [24]:
x

17

In [25]:
x+=5
x

22

In [26]:
x*=2
x

44

In [27]:
x//=4
x

11

# If Statement

In [28]:
#Checking condition:
a=3
b=7
a==b

False

In [29]:
a>b

False

In [30]:
a<b

True

In [31]:
a>=b

False

In [33]:
a<=b

True

In [35]:
a!=b

True

In [43]:
a = input('Enter a first number: ')
b = input('Enter a second number: ')
if a>b:    #indentaTION    #same indent function body
    print('If block is executing ')
    print(f'{a} greater than {b} ')
elif a==b:
    print('Elif block is executing')
    print(f'{a} is equal to {b}')
else:
    print('Else block is executing')
    print(f'{b} greater than {a}')

Enter a first number: 23
Enter a second number: 23
Elif block is executing
23 is equal to 23

# Nested If

In [53]:
age = int(input('Enter your age: '))
if age>=18:
    print('Your age is valid ')
    ticket_status = str(input('Enter ticket status: ')).lower()
    if ticket_status == 'yes':
        print('Your ticket is valid ')
        print('You are allowed ')
    elif ticket_status == 'no':
        print('Please buy a ticket ')
    else:
        print('Please reply with yes or no ')
else:
    print('Your age is less than 18 ')

Enter your age: 32
Your age is valid
Enter ticket status: Yes
Your ticket is valid
You are allowed

In [54]:
age = int(input('Enter your age: '))
if age>=18:
    print('Your age is valid ')
    ticket_status = str(input('Enter ticket status: ')).lower()
    if ticket_status == 'yes':
        print('Your ticket is valid ')
        print('You are allowed ')
    elif ticket_status == 'no':
        print('Please buy a ticket ')
    else:
        print('Please reply with yes or no ')
else:
    print('Your age is less than 18 ')

Enter your age: 14
Your age is less than 18

In [56]:
age = int(input('Enter your age: '))
ticket_status = str(input('Enter ticket status: ')).lower()
if age>=18 or ticket_status == 'yes':
    print('You are allowed ')
elif age<18 or ticket_status == 'no':
        print('Please increase your age or buy a ticket ')

Enter your age: 12
Enter ticket status: yes
You are allowed

In [57]:
age = int(input('Enter your age: '))
ticket_status = str(input('Enter ticket status: ')).lower()
if age>=18 or ticket_status == 'yes':
    print('You are allowed ')
elif age<18 or ticket_status == 'no':
        print('Please increase your age or buy a ticket ')

Enter your age: 18
Enter ticket status: no
You are allowed

In [58]:
age = int(input('Enter your age: '))
ticket_status = str(input('Enter ticket status: ')).lower()
if age>=18 or ticket_status == 'yes':
    print('You are allowed ')
elif age<18 or ticket_status == 'no':
        print('Please increase your age or buy a ticket ')

Enter your age: 12
Enter ticket status: no
Please increase your age or buy a ticket

In [59]:
a = input('Enter a first number: ') #fdbfsdmsndsbdmdm
'''dsdsdsdsdsdsddsdsdsdsd
sdsdsssssssssssdsd
sdddddddddddddddddddsdsd'''
'''dsddddddddddddddddddd'''
b = input('Enter a second number: ')
if a>b:
    print('If block is executing ')
    print(f'{a} greater than {b} ')
elif a==b:
    print('Elif block is executing')
    print(f'{a} is equal to {b}')
else:
    print('Else block is executing')
    print(f'{b} greater than {a}')

Enter a first number: 12
Enter a second number: 323
Else block is executing
323 greater than 12

# List

In [3]:
x = [2,55,334,12,2]  #list
x

[2, 55, 334, 12, 2]

In [4]:
name = ['saad','ali','shehzad','mohsin']
name

['saad', 'ali', 'shehzad', 'mohsin']

In [5]:
z = ['ali',23,4,'saad']
z

['ali', 23, 4, 'saad']

In [6]:
fruits = ['apple','banana','orange','mango','grape']
#index       0        1        2       3       4

In [7]:
fruits[2]

'orange'

In [8]:
len(fruits)

5

In [9]:
del fruits[1] #delete value by index using del, implace
fruits

['apple', 'orange', 'mango', 'grape']

In [10]:
fruits.remove('orange') #delete value by value name using remove function
fruits

['apple', 'mango', 'grape']

In [11]:
fruits.remove('orange')
fruits

ValueError: list.remove(x): x not in list

In [12]:
del fruits[4]
fruits

IndexError: list assignment index out of range

In [13]:
fruits

['apple', 'mango', 'grape']

In [14]:
fruits[1] = 'banana'  #update value by value name
fruits

['apple', 'banana', 'grape']

In [19]:
fruits.append('mango')  #add a value by append function
fruits

['apple', 'banana', 'grape', 'mango']

In [20]:
fruits.insert(1,'cherry') #add a value by insert function
fruits

['apple', 'cherry', 'banana', 'grape', 'mango']

In [22]:
fruits.index('cherry') #find the index by value name

1

In [23]:
fruits[3]  #find the value by index

'grape'

In [24]:
fruits.insert(22, 'pinapple')
fruits

['apple', 'cherry', 'banana', 'grape', 'mango', 'pinapple']

In [26]:
fruits.count('grape') #count a value by name

1

In [27]:
fruits.sort()  #by default ascending order is true and descending order(reverse) is false
fruits

['apple', 'banana', 'cherry', 'grape', 'mango', 'pinapple']

In [28]:
fruits.sort(reverse=True)
fruits

['pinapple', 'mango', 'grape', 'cherry', 'banana', 'apple']

In [29]:
a = [3,55,41,2,69,8,7,11]
a.sort()
a

[2, 3, 7, 8, 11, 41, 55, 69]

In [30]:
a.sort(reverse=True)
a

[69, 55, 41, 11, 8, 7, 3, 2]

In [33]:
random = [22,1,3,9,11,15,47,21,3]
random.reverse()  #reverse a list without sorting
random

[3, 21, 47, 15, 11, 9, 3, 1, 22]

In [34]:
b = random  #pass by reference
b

[3, 21, 47, 15, 11, 9, 3, 1, 22]

In [35]:
random.append(120)
b

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120]

In [36]:
b.append(121)
random

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121]

In [37]:
b.append(222)
b

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222]

In [42]:
random.append(232)
random

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 232]

In [45]:
c = random.copy()

In [46]:
c

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 232]

In [48]:
c.append('Hi')
c

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 232, 'Hi']

In [49]:
random

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 232]

In [76]:
random = [3,21,47,15,11,9,3,1,22,120,121,222,232,323]

In [77]:
random.append('new')
random

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 323, 'new']

In [78]:
c

[3, 21, 47, 15, 11, 9, 3, 1, 22, 120, 121, 222, 232, 232, 'Hi']

In [103]:
poppedElement = random.pop()

IndexError: pop from empty list

In [101]:
random

[]

In [102]:
poppedElement

3

In [104]:
newList = []

In [105]:
randoms = [21,22,36,2,11,24,8,9,10]

In [119]:
newList.append(randoms.pop())

IndexError: pop from empty list

In [117]:
newList

[10, 9, 8, 24, 11, 2, 36, 22, 21]

In [118]:
randoms

[]

# Slicing

In [120]:
alist = [1,2,3,4,5,6,7,8,9,10]
#index   0 1 2 3 4 5 6 7 8 9

In [121]:
alist[2:5]

[3, 4, 5]

In [122]:
alist[5:]

[6, 7, 8, 9, 10]

In [123]:
alist[:2]

[1, 2]

In [124]:
alist[6:3]

[]

In [125]:
students = ['saad','hamza','ali','naqwi','khalid']
#index       -5      -4     -3     -2      -1

In [126]:
students[-1]

'khalid'

In [127]:
students[-4]

'hamza'

In [128]:
students[-2:]

['naqwi', 'khalid']

In [1]:
students[-5:4]

NameError: name 'students' is not defined

# Tupples

In [2]:
a = (2,5,669,74,12,'saad','ali')
a

(2, 5, 669, 74, 12, 'saad', 'ali')

In [5]:
len(a)

7

In [7]:
a[6]

'ali'

In [8]:
a[6]='ali'

TypeError: 'tuple' object does not support item assignment

In [9]:
a = 2,3,4 #packing
a

(2, 3, 4)

In [11]:
x,y,z=a

In [12]:
x

2

In [13]:
y

3

In [14]:
z

4

# List In List Tupple In List etc

In [21]:
ListInList = [2,22,447,'saad','ali',['ali','saad',4,32,['banana',23,25],3]]
ListInList

[2, 22, 447, 'saad', 'ali', ['ali', 'saad', 4, 32, ['banana', 23, 25], 3]]

In [26]:
ListInList[5][4][0]

'banana'

In [27]:
ListInList[5][5]

3

In [28]:
ListInList[5][0]=['as']
ListInList

[2, 22, 447, 'saad', 'ali', [['as'], 'saad', 4, 32, ['banana', 23, 25], 3]]

In [29]:
ListInList.insert(0, 'Hi')
ListInList

['Hi',
 2,
 22,
 447,
 'saad',
 'ali',
 [['as'], 'saad', 4, 32, ['banana', 23, 25], 3]]

In [30]:
alist = [1,2,3,4,['a','b','c']]
alist

[1, 2, 3, 4, ['a', 'b', 'c']]

In [31]:
alist[4].insert(3, 'd')
alist

[1, 2, 3, 4, ['a', 'b', 'c', 'd']]

In [34]:
alist[4].remove('d')
alist

[1, 2, 3, 4, ['a', 'b', 'c']]

In [36]:
name = 'Saad'
age = 17

print(f'My name is {name} and my age is {age} ')

My name is Saad and my age is 17

In [39]:
print('My name is {} and my age is {} '.format(name,age))

My name is Saad and my age is 17

In [40]:
TuppleInList = [1,2,3,4,('a','b','c')]

In [41]:
TuppleInList

[1, 2, 3, 4, ('a', 'b', 'c')]

In [42]:
TuppleInList[4][0]

'a'

# For Loop

In [6]:
students = ['saad','hashim','asif','aqib']
students

['saad', 'hashim', 'asif', 'aqib']

In [8]:
for student in students:
    print(student)

saad
hashim
asif
aqib

In [11]:
for student in students:
    if student == 'saad':
        print(f'{student.title()} Please come in ')
    elif student == 'asif':
        print(f'{student.title()} Please come in ')
    else:
        print(f'{student.title()} Get out ')

Saad Please come in
Hashim Get out
Asif Please come in
Aqib Get out

In [12]:
for a in 'pakistan':
    print(a, end = ' ')

p a k i s t a n

In [13]:
for num in range(1,11):
    print(num, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [14]:
for num in range(0,25,2):
    print(num, end = ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24

In [17]:
for num in range(1,25,2):
    print(num, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23

In [21]:
for num in range(25,0,-2):
    print(num, end = ' ')

25 23 21 19 17 15 13 11 9 7 5 3 1

In [20]:
for num in range(24,0,-2):
    print(num, end = ' ')

24 22 20 18 16 14 12 10 8 6 4 2

In [22]:
for num in range(25,0,-1):
    print(num, end = ' ')

25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [24]:
table = int(input('Please input a table number '))
for num in range(1,11):
    print(f'{table} * {num} = {table*num} ')

Please input a table number 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [26]:
table = int(input('Please input a table number '))
for num in range(1,11):
    if num%2==0:
        print(f'{table} * {num} = {table*num} ')

Please input a table number 2
2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
2 * 10 = 20

In [28]:
table = int(input('Please input a table number '))
for num in range(1,11):
    if num%2==1:
        continue
    print(f'{table} * {num} = {table*num} ')

Please input a table number 2
2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
2 * 10 = 20

In [31]:
table = int(input('Please input a table number '))
for num in range(1,11):
    if num%2==1:
        continue
    print(f'{table} * {num} = {table*num} ')

Please input a table number 2
2 * 2 = 4
2 * 4 = 8
2 * 6 = 12
2 * 8 = 16
2 * 10 = 20

In [32]:
table = int(input('Please input a table number '))
for num in range(1,11):
    if num%2==0:
        break
    print(f'{table} * {num} = {table*num} ')

Please input a table number 2
2 * 1 = 2

In [40]:
best_friends = []
for num in range(1,5):
    name = str(input('Please enter a friend\' name '))
    if name.startswith('a'):
        best_friends.append(name)
best_friends

Please enter a friend' name asif
Please enter a friend' name aqbool
Please enter a friend' name li
Please enter a friend' name ali

['asif', 'aqbool', 'ali']

In [41]:
best_friends = []
for num in range(1,5):
    name = str(input('Please enter a friend\' name '))
    if name.startswith('a'):
        best_friends.append(name)
best_friends

Please enter a friend' name saad
Please enter a friend' name saeed
Please enter a friend' name mukhtar
Please enter a friend' name khan

[]

# Nested For Loop

In [45]:
for num in range(1,5):
    for a in 'saad':
        print(num, a)

1 s
1 a
1 a
1 d
2 s
2 a
2 a
2 d
3 s
3 a
3 a
3 d
4 s
4 a
4 a
4 d

In [52]:
for table in range(2,6):
    print('==============')
    for num in range(1,11):
        print(f'{table} * {num} = {table*num}')

==============
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
==============
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
==============
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
==============
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# List Comprehension

In [53]:
a = [1,2,3,4,5,6,7,8,9,10]
squares = []
for num in a:
    squares.append(num**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
[num**2 for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
[num**2 for num in range(1,11) if num%2==0]

[4, 16, 36, 64, 100]

In [1]:
[num**2 for num in range(1,11) if num%2==1]

[1, 9, 25, 49, 81]

# Dictionaries

Dictionary works on key value pair

In [2]:
my_dictionary = {}

In [3]:
type(my_dictionary)

dict

In [4]:
len(my_dictionary)

0

In [5]:
my_dictionary = {'name':"Syed Saad"}
#                 key       value

In [6]:
my_dictionary

{'name': 'Syed Saad'}

In [7]:
my_dictionary['name']

'Syed Saad'

In [8]:
my_dictionary['age']=17
my_dictionary

{'name': 'Syed Saad', 'age': 17}

In [9]:
del my_dictionary['age']

In [10]:
my_dictionary

{'name': 'Syed Saad'}

In [11]:
my_dictionary[100]='Hello'

In [12]:
my_dictionary

{'name': 'Syed Saad', 100: 'Hello'}

In [13]:
#keys
#values
#items

In [14]:
for s in my_dictionary.keys():
    print(s)

name
100

In [15]:
for a in my_dictionary.values():
    print(a)

Syed Saad
Hello

In [16]:
for s,a in my_dictionary.items():
    print(s,a)

name Syed Saad
100 Hello

In [17]:
for s in my_dictionary.keys():
    for my_dictionary[s]

SyntaxError: invalid syntax (<ipython-input-17-c727fe5a1445>, line 2)

# Dictionary Funtions

Method	Description
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
#fromkeys()	Returns a dictionary with the specified keys and values
get()	Returns the value of the specified key
items()	Returns a list containing the a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
#update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [18]:
my_dict = {'name':"saad",'age':17}
my_dict

{'name': 'saad', 'age': 17}

In [19]:
my_dict.clear()

In [20]:
my_dict

{}

In [21]:
my_dict['name']="saad"

In [22]:
my_dict['age']=17

In [23]:
my_dict

{'name': 'saad', 'age': 17}

In [24]:
my_dict.copy()

{'name': 'saad', 'age': 17}

In [26]:
my_dict.fromkeys(my_dict)

{'name': None, 'age': None}

In [28]:
my_dict.get('age')

17

In [29]:
my_dict.items()

dict_items([('name', 'saad'), ('age', 17)])

In [30]:
my_dict.pop('age')

17

In [31]:
my_dict

{'name': 'saad'}

In [32]:
my_dict['age']=17

In [33]:
my_dict

{'name': 'saad', 'age': 17}

In [35]:
my_dict.popitem()

('age', 17)

In [36]:
my_dict

{'name': 'saad'}

In [37]:
my_dict['age']=17

In [40]:
my_dict.pop()

TypeError: pop expected at least 1 arguments, got 0

In [41]:
my_dict.setdefault('name')

'saad'

In [42]:
my_dict

{'name': 'saad', 'age': 17}

In [43]:
my_dict.setdefault('age')

17

In [44]:
my_dict

{'name': 'saad', 'age': 17}

In [48]:
my_dict.setdefault('ds')

In [49]:
my_dict

{'name': 'saad', 'age': 17, 'ds': None}

In [50]:
my_dict.update(my_dict)

In [55]:
my_dict.values()

dict_values(['saad', 17, None])

In [56]:
my_dict.keys()

dict_keys(['name', 'age', 'ds'])

# Do Yourselves

list in list
tupple in list
dictionary in list

tupple in tupple
list in tupple
dictionary in tupple

dictionary in dictionary
list in dictionary 
tupple in dictionary

# List In List

In [1]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,a,b]
c

[9, 10, [1, 2, 3, 4], [5, 6, 7, 8]]

In [3]:
c[2][3]

4

In [4]:
del c[3][2]

In [5]:
c

[9, 10, [1, 2, 3, 4], [5, 6, 8]]

# Tupple In List

In [6]:
a = (12,14,'saad')
b = (16,17,'talha')
c = [18,19,20,a,b]
c

[18, 19, 20, (12, 14, 'saad'), (16, 17, 'talha')]

In [7]:
c[3][2]

'saad'

In [8]:
c[4]

(16, 17, 'talha')

In [9]:
del c[3][2]

TypeError: 'tuple' object doesn't support item deletion

# Dictionary In List

In [11]:
a = {'name':"saad",'age':17,'degree':"masters"}
b = {'name':"saeed",'age':27,'degree':"matric"}
c = [1,2,3,a,b]
c

[1,
 2,
 3,
 {'name': 'saad', 'age': 17, 'degree': 'masters'},
 {'name': 'saeed', 'age': 27, 'degree': 'matric'}]

In [12]:
c[3]['age']

17

In [13]:
del c[3]['age']
c

[1,
 2,
 3,
 {'name': 'saad', 'degree': 'masters'},
 {'name': 'saeed', 'age': 27, 'degree': 'matric'}]

In [14]:
c[3]['age']=17

In [16]:
c

[1,
 2,
 3,
 {'name': 'saad', 'degree': 'masters', 'age': 17},
 {'name': 'saeed', 'age': 27, 'degree': 'matric'}]

# Tupple In Tupple

In [1]:
a = 'saad',56,'ali',88,5
b = 'amim','musab','asif',56,78
c = 44,5,8,a,b
c

(44, 5, 8, ('saad', 56, 'ali', 88, 5), ('amim', 'musab', 'asif', 56, 78))

In [2]:
c[2]

8

In [3]:
c[3][2]

'ali'

In [4]:
c[4][2]

'asif'

# List In Tupple

In [5]:
a = ['ali','kamran','hi',25,447]
b = ['shamshad','mughal','wajid',10]
c = 89,78,a,b
c

(89, 78, ['ali', 'kamran', 'hi', 25, 447], ['shamshad', 'mughal', 'wajid', 10])

In [6]:
c[1]

78

In [7]:
c[2][3]

25

In [8]:
c[3][3]

10

In [9]:
del c[2][1]

In [11]:
c

(89, 78, ['ali', 'hi', 25, 447], ['shamshad', 'mughal', 'wajid', 10])

# Dictionary In Tupple

In [12]:
a = {'name':"saad",'age':17,'degree':"matric"}
b = {'name':"asad",'age':21,'degree':"inter"}
c = 'saad',19,'ali',a,b
c

('saad',
 19,
 'ali',
 {'name': 'saad', 'age': 17, 'degree': 'matric'},
 {'name': 'asad', 'age': 21, 'degree': 'inter'})

In [13]:
c[2]

'ali'

In [14]:
c[3]['degree']

'matric'

In [15]:
del c[4]['degree']
c

('saad',
 19,
 'ali',
 {'name': 'saad', 'age': 17, 'degree': 'matric'},
 {'name': 'asad', 'age': 21})

# Dictionary In Dictionary

In [16]:
a = {'name':"saad",'age':17,'degree':"matric"}
b = {'name':"asad",'age':21,'degree':"inter"}
c = {'class':4,'dic1':a,'dic2':b}
c

{'class': 4,
 'dic1': {'name': 'saad', 'age': 17, 'degree': 'matric'},
 'dic2': {'name': 'asad', 'age': 21, 'degree': 'inter'}}

In [17]:
c['class']

4

In [18]:
c['dic1']['degree']

'matric'

In [19]:
del c['dic2']['age']

In [20]:
c

{'class': 4,
 'dic1': {'name': 'saad', 'age': 17, 'degree': 'matric'},
 'dic2': {'name': 'asad', 'degree': 'inter'}}

In [22]:
a = []
a.append({'Name': "Saad"})
a

[{'Name': 'Saad'}]

# List In Dictionary

In [23]:
a = ['ali','kamran','hi',25,447]
b = ['sahmshad','mughal','wajid',10]
c = {'name':"saad",'alist':a,'blist':b}
c

{'name': 'saad',
 'alist': ['ali', 'kamran', 'hi', 25, 447],
 'blist': ['sahmshad', 'mughal', 'wajid', 10]}

In [25]:
c['alist'][1]

'kamran'

In [27]:
del c['blist'][0]
c

{'name': 'saad',
 'alist': ['ali', 'kamran', 'hi', 25, 447],
 'blist': ['mughal', 'wajid', 10]}

# Tupple In Dictionary

In [28]:
a = 'saad',56,'ali',88,5
b = 'amim','musab','asif',56,78
c = {'name':"saad",'atupple':a,'btupple':b}
c

{'name': 'saad',
 'atupple': ('saad', 56, 'ali', 88, 5),
 'btupple': ('amim', 'musab', 'asif', 56, 78)}

In [29]:
c['atupple'][1]

56

In [30]:
c['name']

'saad'

In [31]:
del c['name']
c

{'atupple': ('saad', 56, 'ali', 88, 5),
 'btupple': ('amim', 'musab', 'asif', 56, 78)}

# Function

In [1]:
print('Hello')

def greet_user():
    print('Apna time ayga ')
    
print('I\'m Syed Saad ')

Hello
I'm Syed Saad

In [2]:
greet_user()

Apna time ayga

In [3]:
greet_user()

Apna time ayga

In [8]:
def mult(a,b):
    c=a*b
    print(c)
    
mult(5,4)

20

In [9]:
mult(2,2)

4

In [10]:
def mul():
    a = int(input('Enter First Number: '))
    b = int(input('Enter Second Number: '))
    c = a*b
    print(c)
    
mul()

Enter First Number: 3
Enter Second Number: 4
12

In [16]:
def full_name(fname,mname,lname):
    name = fname+mname+lname
    print(name)
    
full_name('syed','saad','ahmed')

syedsaadahmed

In [17]:
def full_name(fname,mname,lname):
    name = fname+' '+mname+' '+lname
    print(name)
    
full_name('Syed','Saad','Ahmed')

Syed Saad Ahmed

In [18]:
def full_name():
    fname = str(input('Enter First Name: ')).title()
    mname = str(input('Enter Middle Name: ')).title()
    lname = str(input('Enter Last Name: ')).title()
    name = fname+' '+mname+' '+lname
    print(f'My name is {name}')
    
full_name()

Enter First Name: syed
Enter Middle Name: saad
Enter Last Name: ahmed
My name is Syed Saad Ahmed

In [28]:
def calc(a,b,op):
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

calc(3,4,'*')

12

In [29]:
def calc(a,b,op):
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

calc(3,4,'-')

-1

In [30]:
def calc(a,b,op):
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

calc(16,4,'%')

4.0

In [31]:
def calc(a,b,op):
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

calc(16,4,'//')

Operator not found

In [24]:
def cal():
    a = int(input('Enter First Number: '))
    b = int(input('Enter Second Number: '))
    op = input('Enter An Operator: ')
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

cal()

Enter First Number: 7
Enter Second Number: 2
Enter An Operator: -
5

In [25]:
def cal():
    a = int(input('Enter First Number: '))
    b = int(input('Enter Second Number: '))
    op = input('Enter An Operator: ')
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

cal()

Enter First Number: 5
Enter Second Number: 3
Enter An Operator: *
15

In [26]:
 def cal():
    a = int(input('Enter First Number: '))
    b = int(input('Enter Second Number: '))
    op = input('Enter An Operator: ')
    if op == '+':
        c=a+b
        print(c)
    elif op == '-':
        c=a-b
        print(c)
    elif op == '*':
        c=a*b
        print(c)
    elif op == '/' or op == '%':
        c=a/b
        print(c)
    else:
        print('Operator not found')

cal()

Enter First Number: 5
Enter Second Number: 3
Enter An Operator: //
Operator not found

# Keyword Argument

In [32]:
calc(8,'-',2)

Operator not found

In [33]:
calc(a=8,op='+',b=2)

10

In [34]:
calc(op='/',b=4,a=16)

4.0

In [35]:
calc(op='//',b=4,a=16)

Operator not found

# Default Parameter

In [4]:
def my_info(name, age = 17, gender = 'male'):
    print(f'My Name Is {name} ')
    print(f'My age Is {age} ')
    print(f'My Gender Is {gender} ')
    
my_info('Saad')

My Name Is Saad
My age Is 17
My Gender Is male

In [19]:
def my_name(f_name, l_name, m_name = ''):
    if m_name:
        full_name = f_name+' '+m_name+' '+l_name
    else:
        full_name = f_name+' '+l_name
    return full_name

a = my_name('Syed', 'Ahmed', 'Saad')
a

'Syed Saad Ahmed'

In [20]:
b = my_name('Syed', 'Saad')
b

'Syed Saad'

In [28]:
def my_friends(names):
    for name in names:
        greet = 'Hello, ' + name
        print(greet)
        
        
user = ['Ali', 'Asim', 'Ahmed', 'Saad', 'Umar']
my_friends(user)

Hello, Ali
Hello, Asim
Hello, Ahmed
Hello, Saad
Hello, Umar

In [31]:
def human(f_name, m_name, l_name, age):
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
        
human('Syed', 'Saad', 'Ahmed', 17)

First Name:  Syed
Middle Name:  Saad
Last Name:  Ahmed
Age:  17

In [46]:
def human(f_name, m_name, l_name, age, *others):   # * Means Tupple
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
        
human('Syed', 'Saad', 'Ahmed', 17, 'syedsaad123@gmail.com', 'Hi', 'OO')

First Name:  Syed
Middle Name:  Saad
Last Name:  Ahmed
Age:  17

In [33]:
def human(f_name, m_name, l_name, age, *others):
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
    print(others)
        
human('Syed', 'Saad', 'Ahmed', 17, 'syedsaad123@gmail.com', 'Hi', 'OO')

First Name:  Syed
Middle Name:  Saad
Last Name:  Ahmed
Age:  17
('syedsaad123@gmail.com', 'Hi', 'OO')

In [47]:
def human(f_name, m_name, l_name, age, **others):    # ** Means Dictionary
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
    print(others)
        
human('Syed', 'Saad', 'Ahmed', 17, email = 'syedsaad123@gmail.com', a = 'Hi', b = 'OO')

First Name:  Syed
Middle Name:  Saad
Last Name:  Ahmed
Age:  17
{'email': 'syedsaad123@gmail.com', 'a': 'Hi', 'b': 'OO'}

In [36]:
def human(f_name, m_name, l_name, age, **others):
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
    #print(others)
        
human('Syed', 'Saad', 'Ahmed', 17, email = 'syedsaad123@gmail.com', a = 'Hi', b = 'OO')

First Name:  Syed
Middle Name:  Saad
Last Name:  Ahmed
Age:  17

In [37]:
def human(f_name, m_name, l_name, age, **others):
    build_human = {'First Name: ':f_name, 'Middle Name: ':m_name, 'Last Name: ':l_name, 'Age: ':age}
    for key, value in build_human.items():
        print(key, value)
    print(others)
        
human('Syed', 'Saad', 'Ahmed', 17, 'syedsaad123@gmail.com', 'Hi', 'OO')

TypeError: human() takes 4 positional arguments but 7 were given

# Function: Local vs Global Variable

In [38]:
#Local Variable: Variable defined inside function and cannot be accessed outside the function

In [39]:
#Global Variable: Variable defined outside the function and can be access inside or outside the function

In [44]:
def hello():
    l = 100      #Local Variable
    
    print(l)

In [45]:
print(l)      #Trying to access local variable outside the function

NameError: name 'l' is not defined

In [49]:
fruit = 'Apple'
def hello():
    l = 100      #Local Variable
    
    print(l)
    print(fruit)

In [50]:
print(fruit)

Apple

In [52]:
hello()

100
Apple

In [53]:
fruit = 'Apple'
def hello():
    l = 100      #Local Variable
    fruit = 'Orange'
    
    print(l)
    print(fruit)

In [54]:
hello()

100
Orange

In [55]:
fruit

'Apple'

In [58]:
fruit = 'Apple'
def hello():
    global l,fruit
    l = 100      #Local Variable
    fruit = 'Orange'
    
    print(l)
    print(fruit)

In [61]:
hello()

100
Orange

In [62]:
l

100

In [63]:
fruit

'Orange'

In [64]:
def add(a,b):
    
    print(a+b)
    return a+b
sums = add(2,9)

11

In [65]:
print(sums)

11

# While Loops

In [66]:
for a in range(5):
    
    print(a)

0
1
2
3
4

In [67]:
for a in range(5):
    name = input('What Is Your Name? ')
    print(f'Your Name Is {name}')

What Is Your Name? Saad
Your Name Is Saad
What Is Your Name? Saad
Your Name Is Saad
What Is Your Name? Saad
Your Name Is Saad
What Is Your Name? Saad
Your Name Is Saad
What Is Your Name? Saad
Your Name Is Saad

In [72]:
flag = True
while flag:
    name = input('What Is Your Name? ').title()
    if name =='Quit':
        flag = False
        print('Thank You! ')
    if name != 'Quit':
        print(f'Your Name Is {name} ')

What Is Your Name? Syed
Your Name Is Syed
What Is Your Name? Saad
Your Name Is Saad
What Is Your Name? Hi
Your Name Is Hi
What Is Your Name? Ahmed
Your Name Is Ahmed
What Is Your Name? Ali
Your Name Is Ali
What Is Your Name? quit
Thank You!

# Object Oriented Programming

# Classes

In [1]:
class Patient():
    def __init__(self, name, age, gender, disease):
        ######Attributes######
        self.name = name
        self.age = age
        self.gender = gender
        self.disease = disease
        ######Behaviours######
    def take_madicine(self):
        print(f'{self.name} is taking madicine ')
        
    def take_rest(self):
        print(f'{self.name} is taking rest ')
    
    def deposit_money(self):
        print(f'{self.name} is depositing fee ')

In [2]:
p123 = Patient('Saad', 17, 'Male', 'Flu')

In [3]:
p124 = Patient('Ali', 55, 'Male', 'Fever')

In [4]:
p123.name

'Saad'

In [5]:
p124.age

55

In [6]:
p123.deposit_money()

Saad is depositing fee

In [7]:
p124.take_madicine()

Ali is taking madicine

Another Example

In [11]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        
    def get_descriptive_name(self):
        long_name = self.make+' '+self.model+' '+str(self.year)
        return long_name.title()

In [12]:
newCar = Car('Audi', 'a4', 2019)

In [13]:
newCar.model

'a4'

In [14]:
newCar.model

'a4'

In [15]:
newCar.get_descriptive_name()

'Audi A4 2019'

In [16]:
myCar = Car('Corolla', 'XLI', 2018)

In [17]:
myCar.get_descriptive_name()

'Corolla Xli 2018'

# Setting A Default Value For An Attribute

In [18]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        long_name = self.make+' '+self.model+' '+str(self.year)
        return long_name.title()
    
    def read_odometer(self):
        print(f'The car has travelled {self.odometer_reading} miles ')

In [19]:
abcCar = Car('Corolla', 'GLI', 2019)

In [20]:
xyzCar = Car('Cultus', 'VXR', 2017)

In [21]:
abcCar.read_odometer()

The car has travelled 0 miles

In [22]:
xyzCar.read_odometer()

The car has travelled 0 miles

# Modifying Attributes Value

1. Direct Access And Modify

In [23]:
abcCar.odometer_reading +=200

In [24]:
abcCar.read_odometer()

The car has travelled 200 miles

In [25]:
xyzCar.odometer_reading = 200

In [26]:
xyzCar.read_odometer()

The car has travelled 200 miles

2. Modifying Attribute Via Function

In [27]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        long_name = self.make+' '+self.model+' '+str(self.year)
        return long_name.title()
    
    def read_odometer(self):
        print(f'The car has travelled {self.odometer_reading} miles ')
        
    def update_odometer_reading(self, mileage):
        self.odometer_reading = mileage
        
    def increase_odometer_reading(self, mileage):
        if mileage>0:
            self.odometer_reading += mileage
        else:
            print('You can not roll back odometer reading ')

In [28]:
Mycar = Car('Cultus', 'VXR', 2002)

In [29]:
Thiscar = Car('Mehran', 'ATR', 2000)

In [30]:
Thiscar.get_descriptive_name()

'Mehran Atr 2000'

In [31]:
Thiscar.read_odometer()

The car has travelled 0 miles

In [32]:
Thiscar.update_odometer_reading(100)

In [33]:
Thiscar.read_odometer()

The car has travelled 100 miles

In [34]:
Thiscar.increase_odometer_reading(200)

In [35]:
Thiscar.read_odometer()

The car has travelled 300 miles

In [36]:
Thiscar.increase_odometer_reading(-200)

You can not roll back odometer reading

In [37]:
Thiscar.increase_odometer_reading(0)

You can not roll back odometer reading

In [4]:
class Student():
    def __init__(self, name, father_name, age, gender, classs, degree):
        self.name = name
        self.father_name = father_name
        self.age = age
        self.gender = gender
        self.classs = classs
        self.degree = degree
    def student_info(self):
        info = {'Name:': self.name, 'Father Name:': self.father_name, 'Age:': self.age, 
                'Gender:': self.gender, 'Class:': self.classs, 'Degree:': self.degree}
        for a,b in info.items():
            print(a,b)
            
    def update_student_degree(self, degree):
        self.degree = degree

In [5]:
s1 = Student('Saad', 'Rehan', 17, 'Male', 'XII', 'Matric')

In [6]:
s1.student_info()

Name: Saad
Father Name: Rehan
Age: 17
Gender: Male
Class: XII
Degree: Matric

In [7]:
s1.update_student_degree('Inter')

In [8]:
s1.degree

'Inter'

In [9]:
s1.name

'Saad'

In [10]:
s1.student_info()

Name: Saad
Father Name: Rehan
Age: 17
Gender: Male
Class: XII
Degree: Inter

In [12]:
class Patient():
    def __init__(self, name, age, gender, disease):
        self.name = name
        self.age = age
        self.gender = gender
        self.disease = disease

    def patient_info(self):
        pat_info = {'Name:': self.name, 'Age:': self.age, 'Gender:': self.gender, 'Disease:': self.disease}
        for a,b in pat_info.items():
            print(a,b)

In [13]:
p1 = Patient('Saad', 17, 'Male', 'Fever')

In [14]:
p1.name

'Saad'

In [15]:
p1.patient_info()

Name: Saad
Age: 17
Gender: Male
Disease: Fever

# Example Restaurant(9.1)

In [1]:
class Restaurant():
    def __init__(self, restaurant_name, cuisine_type):
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
        
    def describe_restaurant(self):
        info = {'Restaurant Name:': self.restaurant_name, 'Cuisine Type:': self.cuisine_type}
        for a,b in info.items():
            print(a,b)
            
    def restaurant_status(self):
        print(f'{self.restaurant_name} is open ')

In [2]:
r1 = Restaurant('Pizza King', 'Pakistani')

In [3]:
r1.restaurant_name

'Pizza King'

In [4]:
r1.cuisine_type

'Pakistani'

In [5]:
r1.describe_restaurant()

Restaurant Name: Pizza King
Cuisine Type: Pakistani

In [6]:
r1.restaurant_status()

Pizza King is open

# Example Restaurant(9.2)

In [7]:
r2 = Restaurant('United King', 'Chineese')
r3 = Restaurant('KFC', 'Japnese')
r4 = Restaurant('Dhaba', 'Tea')

In [8]:
r2.describe_restaurant()

Restaurant Name: United King
Cuisine Type: Chineese

In [9]:
r3.describe_restaurant()

Restaurant Name: KFC
Cuisine Type: Japnese

In [10]:
r4.describe_restaurant()

Restaurant Name: Dhaba
Cuisine Type: Tea

# Example Restaurant(9.3)

In [18]:
class User():
    def __init__(self, fname, lname, gender, age, email):
        self.fname = fname
        self.lname = lname
        self.gender = gender
        self.age = age
        self.email = email
        
    def describe_user(self):
        info = {'First Name:': self.fname, 'Last Name:': self.lname, 'Gender:': self.gender, 'Age:': self.age,
               'Email:': self.email}
        for a,b in info.items():
            print(a,b)
            
    def greet_user(self):
        print(f'Hello {self.fname} {self.lname} ')

In [19]:
user1 = User('Syed', 'Saad', 'Male', 17, 'syedsaad123@gmail.com')

In [20]:
user1.describe_user()

First Name: Syed
Last Name: Saad
Gender: Male
Age: 17
Email: syedsaad123@gmail.com

In [21]:
user1.greet_user()

Hello Syed Saad

In [22]:
user2 = User('Ali', 'Khan', 'Male', 22, 'alikhan123@gmail.com')
user3 = User('Naeem', 'Siddiqui', 'Male', 55, 'naeemsiddiqui123@gmail.com')

In [23]:
user2.describe_user()

First Name: Ali
Last Name: Khan
Gender: Male
Age: 22
Email: alikhan123@gmail.com

In [24]:
user2.greet_user()

Hello Ali Khan

In [25]:
user3.describe_user()

First Name: Naeem
Last Name: Siddiqui
Gender: Male
Age: 55
Email: naeemsiddiqui123@gmail.com

In [26]:
user3.greet_user()

Hello Naeem Siddiqui

In [27]:
user1.email

'syedsaad123@gmail.com'

In [28]:
user1.age

17